@mixin forAll{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin Text{
    font: {
        size: 1rem;
        family: Arial, Helvetica, sans-serif;
    }
}
