/* rozměry */
$main-width: 1200px;

 /* umístnění */
$margin-center: 0 auto;

 /* barvy */
$main-color: rgba(244, 244, 29, 0.758);
$second-color: black;

/* fonty */
$font-heading: Garamond, serif;
$font-second: Arial, Helvetica, sans-serif;
$heading-font: 450%;
$second-font: 1.4rem;
